<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Elevator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22F1007F1DED29D700CF06C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22F100951DED29D700CF06C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22F100A01DED29D700CF06C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
